// .keyboard {
//     border: solid 1px black;
// }

.key {
    border: solid 1px white;
    display: inline;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: black;
}

h1 {
    color: White;
}

body {
    background-color: Black;
}

.manImage {
    max-width: 400px;
    max-height: 400px;
    align-content: center;
    border-radius: 15%;
}