<!DOCTYPE html>
html(lang="en")
  head
    title Hangman
    link(rel="stylesheet", href="../sass/main.scss")
  body
    nav
        h1 Hangman
  button.startGame Start Game
  br
  br
  .container.hangingMan
    img.manImage(src='../img/img7.png')
  br
  br
  .blankSpots
  br
  br
  .container.keyboard
      .key A
      .key B
      .key C
      .key D
      .key E
      .key F
      .key G
      .key H
      .key I
      .key J
      .key K
      .key L
      .key M
      br
      br
      br
      .key N
      .key O
      .key P
      .key Q
      .key R
      .key S
      .key T
      .key U 
      .key V
      .key W
      .key X
      .key Y
      .key Z









script(src="../js/main.js")